body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background: rgb(38, 178, 184);
    background: linear-gradient(45deg, rgba(38, 178, 184, 1) 0%, rgba(136, 175, 97, 1) 100%);
}

.home-container {
    font-family: Arial, sans-serif;
    background-image: url(../images/bg-img.jpg);
    height: 94vh;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: end;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #333;
    font-size: 32px;
}

p {
    color: #666;
    font-size: 18px;
    line-height: 1.5;
}

.filters {
    height: 80vh;
    padding: 30px;
    background: rgb(38, 178, 184);
    background: linear-gradient(45deg, rgba(38, 178, 184, 1) 0%, rgba(136, 175, 97, 1) 100%);
    border-radius: 35px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.card {
    margin-bottom: 20px;
}